@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input, li {
    font-family: "Poppins", sans-serif;
    list-style: none;
}

main {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #ff8c6b;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 3.3rem;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

.inner-box {
    position: absolute;
    width: calc(100% - 4.1rem);
    height: calc(100% - 4.1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #151111;
    font-weight: 500;
    transition: 0.3s;
}

a:hover {
    color: #ff8c6b;
}

.menu {
    display: flex;
}

.menu li {
   margin-left: 10px;
}

.menu a {
   display: block;
   padding: 10px;
}

.image {
    display: flex;
    align-items: center;
}

.image img {
    width: 450px;
    max-width: 500px;
    margin-bottom: 25px;
}

.sign-btn {
    margin: 0 auto;
    display: inline-block;
    width: 400px;
    height: 43px;
    background-color: #151111; /*151111*/
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    transition: 0.3s;
  }
  
  .sign-btn:hover {
    background-color: #fd7d4a;
  }

  form {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }